*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.section__cards {
    padding: 40px 0;
    margin: 0 auto;
    width: 94%;
    max-width: 280px;
}

.cards-filter{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.filter__buttons{
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.filter__button{
    background-color: #f0f0f0;
    padding: 8px 14px;
    cursor: pointer;
}

.filter__buttons > .filter__button {
    opacity: .6;
}

.filter__buttons:hover > .filter__button:hover, .filter__buttons > .filter__button--selected{
    opacity: 1;
}

.filter__button--selected{
    background-color: #eeeeee;
    box-shadow: 0 0 2px black;
    color: #000;
}

.filter__checkbox{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.filter__checkbox-item{
    margin-right: 5px;
}

.cards-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    margin: 0 auto;
}

.card {
    width: 280px;
    height: 445px;
    border: 20px solid #f0f0f0;
    padding: 32px 0 0;
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card.card--semitransparent{
    opacity: .5;
}

.card__top {
    height: 235px;
    margin: 0 45px;
    position: absolute;
    z-index: -1;
}

.card__new {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px;
    background-color: #03abf4;
    color: #fff;
}

.card__img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.card__bottom {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.card__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}

.card__rating {
    position: relative;
    white-space: nowrap;
    margin: auto;
    width: fit-content;
}

.card__rating__star {
    color: #cccccc;
}

.card__rating__stars--active{
    background: #fab810;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(var(--rating) * 20%);
}

.card__category {
    font-size: 12px;
    color: #8b8b8b
}

.card__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card__price {
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 16px;
}

.card__price--red {
    color: #bb3e4f;
    font-weight: 700;
}

.card__price--crossed {
    text-decoration: line-through;
    font-weight: 700;
}

.card__button-wrapper {
    background-color: #f0f0f0;
    width: 100%;
    padding: 20px 0;
}

.card__button {
    background-color: #61a2d0;
    padding: 8px 15px;
    color: white;
    font-size: 14px;
    margin: auto;
    display: flex;
    gap: 7px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.card__button:hover {
    background-color: #426c8e;
}

.card__button .fa-bag-shopping {
    color: #ffffff;
}

.card__actions {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.card__actions-item {
    text-align: center;
    padding: 16px 0;
    border-radius: 50%;
    background-color: #f0f0f0;
    height: 48px;
    width: 48px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s;
}

.card__actions-item:hover {
    background-color: #c7c7c7;
}

.card__actions-item:active {
    box-shadow: 0 0 3px black;
}

.card--semitransparent .card__actions-item--hide, .card--favourite .card__actions-item--like,.card--comparable .card__actions-item--compare{
    border: solid 1px #000;
    background-color: #d6d5d5;
}

.card__actions-item:before{
    font-family: 'Font Awesome 6 Free', sans-serif;
}

.card__actions-item--hide:before{
    content: "\f06e";
}

.card--semitransparent .card__actions-item--hide:before{
    content: "\f070";
}

.card__actions-item--like:before{
    content: "\f004";
}

.card--favourite .card__actions-item--like:before{
    content: "\f004";
    font-weight: 900;
}

.card__actions-item--compare:before{
    content: "\f24e";
    font-weight: 900;
}

.card--comparable .card__actions-item--compare:before{
    content: "\f516";
    font-weight: 900;
}

.card--hidden, .extra{
    display: none;
}


@media screen and (min-width: 645px) {
    .section__cards {
        max-width: 590px;
    }
}

@media screen and (min-width: 980px) {
    .section__cards {
        max-width: 900px;
    }

    .card__bottom  {
        bottom: -72px;
    }

    .card:hover .card__bottom {
        bottom: 0;
    }

    .card__actions{
        right: -50px;
    }

    .card:hover .card__actions {
        right: 10px;
    }
}

@media screen and (min-width: 1275px) {
    .section__cards {
        max-width: 1200px;
    }
    .cards-content{
        gap: 26px;
    }
}


